In [9]:
# dependencies
import pandas as pd
import requests
import json
import pymongo
from pprint import pprint
# from config import mongo_conn

# import sys
# change this to the relative file path for the json file
# sys.path.insert(0, '../MongoDB_Creation')

In [10]:
# Initialize PyMongo to work with MongoDBs
# conn = mongo_conn
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [16]:
# Read the json file (perfume_data)
# first trying with dummy json file 
url = 'dummy.json'
perfume_data1 = pd.read_json(url)
# data = pd.read_json('Data.json', lines=True)

In [17]:
perfume_data1

,PERFUME NAME 1,PERFUME NAME 2,PERFUME NAME 3,PERFUME NAME 4,PERFUME NAME 5
0,"{'IMAGE URL': 'URL 1', 'COMPANY': 'Jen', 'GEND...",NaN,NaN,NaN,NaN
1,NaN,"{'IMAGE URL': 'URL 2', 'COMPANY': 'Kasey', 'GE...",NaN,NaN,NaN
2,NaN,NaN,"{'IMAGE URL': 'URL 3', 'COMPANY': 'Jessi', 'GE...",NaN,NaN
3,NaN,NaN,NaN,"{'IMAGE URL': 'URL 4', 'COMPANY': 'Chloe', 'GE...",NaN
4,NaN,NaN,NaN,NaN,"{'IMAGE URL': 'URL 5', 'COMPANY': 'Deepa', 'GE..."

In [19]:
# perfume_data2 = pd.read_json('dummy.json', lines=True)
perfume_data2 = pd.read_json('dummy.json')

In [20]:
perfume_data2

,PERFUME NAME 1,PERFUME NAME 2,PERFUME NAME 3,PERFUME NAME 4,PERFUME NAME 5
0,"{'IMAGE URL': 'URL 1', 'COMPANY': 'Jen', 'GEND...",NaN,NaN,NaN,NaN
1,NaN,"{'IMAGE URL': 'URL 2', 'COMPANY': 'Kasey', 'GE...",NaN,NaN,NaN
2,NaN,NaN,"{'IMAGE URL': 'URL 3', 'COMPANY': 'Jessi', 'GE...",NaN,NaN
3,NaN,NaN,NaN,"{'IMAGE URL': 'URL 4', 'COMPANY': 'Chloe', 'GE...",NaN
4,NaN,NaN,NaN,NaN,"{'IMAGE URL': 'URL 5', 'COMPANY': 'Deepa', 'GE..."

In [22]:
# this looks same as dfs above 
perfume_data3 = pd.read_json('dummy.json', orient='records')

In [25]:
# db = client.pet_rescue_test_db
# test_collection = db.test_collection

db = client.perfumes_test_db
test_collection = db.test_collection

In [28]:
test_collection.insert_one(perfume_data1)

TypeError: document must be an instance of dict, bson.son.SON, bson.raw_bson.RawBSONDocument, or a type that inherits from collections.MutableMapping

In [29]:
test_collection.insert_many(perfume_data1)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().